<% provide :title, t(".title2") %>
<h2>
   <%= link_to t("english") , locale: "en" %>
   <%= link_to t("vietnam") , locale: "vi" %>
</h2>
<h1><%= t ".title2" %></h1>
<p>
  <%= t ".gethelp1" %>
  <%= link_to "Rails Tutorial help section.", "https://www.railstutorial.org/help" %>
  <%= t ".gethelp2" %>
  <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book" %>
</p>
