<% provide :title, t(".help") %>
<div class="center jumbotron">
  <h1><%= t ".help" %></h1>

  <h2>
      <%= t ".gethelp1" %>
      <%= link_to "Rails Tutorial help section.", "https://www.railstutorial.org/help" %>
      <%= t ".gethelp2" %>
      <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book" %>.
  </h2>

</div>
