<% provide :title, t(".home") %>
<h2>
   <%= link_to t("english") , locale: "en" %>
   <%= link_to t("vietnam") , locale: "vi" %>
</h2>
<h1><%= t ".title1" %></h1>
<p>
  <%= t ".homepage" %>
  <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/" %>
</p>
